#help {
	font: 13px 'Droid Sans', helvetica, arial, sans-serif;
	padding: 5px 10px 5px 10px;
	color: #CE6348;
}
#items {
	background-color: #fff;
	padding-left: 10px;
	border-bottom: 1px solid #999;
	font: 39px 'Droid Sans', helvetica, arial, sans-serif;
	color: #5E6348;
}

#container-left {
	min-height: 500px;
	border: 1px solid #ccc;
	position: relative;
	font: 13px 'Droid Sans', Arial;

    background-image: url(texture.png);
    background-repeat: repeat;
}

#message {
	position: absolute;
	border: 1px solid black;
	width: 350px;
	min-height: 200px;
	left: 200px;
	top: 200px;
	background: white;
	padding: 10px 10px 10px 10px;
	font: 13px "Droid Sans";
	font-size: 1.1em;
}

#message-done {
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
}

.plasmid-hover {
	background: "#ccc";
	border: 1px solid black;
}

.not-plasmid-hover {
	background: "#ccc";
	border-bottom: 1px solid black;
}

#desc {
	padding: 5px 5px 5px 5px;
	position: absolute;
	border-top: 1px solid #999;
	bottom: 0;
	height: 100px;
	width: 100%;
	font: 13px 'Droid Sans', Arial;
}



li {
	color: #999;
	list-style-type: square;
}

a {
	color: #8EC63F;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
	text-decoration: none;
	font: 13px 'Droid Sans', Arial;
}

a:hover {
   color: #F2961F;
}
